<div class="all-title"><p class="home-title">ようこそ </p>  <p class="home-title">  DHAの日本語ページに </p><p class="home-title">いらっしゃいます<p></div>
<div class="container-fluid introduce">
    <div class="card">
    <img src="dict.png" class="card-img-top" alt="dict-image">
    <div class="card-body">
        <h5 class="card-title">Tra từ điển</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/dict" class="btn btn-primary try-button">Dùng thử nào!</a>
    </div>
    </div>

    <div class="card">
    <img src="image.png" class="card-img-top" alt="alpha-image">
    <div class="card-body">
        <h5 class="card-title">Bảng chữ cái</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/hiraganas" class="btn btn-primary try-button">Dùng thử nào!</a>
    </div>
    </div>

    <div class="card">
    <img src="test-alpha.png" class="card-img-top" alt="test-image">
    <div class="card-body">
        <h5 class="card-title">Test bảng chữ cái</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/tests" class="btn btn-primary try-button">Dùng thử nào!</a>
    </div>
    </div>
</div>