@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$bgblue: #003399;
$color_hover: #cc3333;

.home-title{
    color: $color_hover;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    font-weight: 900px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 50px;
    
}
.all-title{
    border-radius: 50%;
    background-color: #F6CECE;
    margin-right: 30%;
    margin-left: 20%;
    height: 300px;
    width: 35%;
}
.introduce{
    margin-top: 80px;
    margin-bottom: 120px;
    .row{
        margin-right: 0px !important;
    }
    .card{
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 80px;
        height: 480px;
        border: 2px solid $bgblue;
        border-radius: 15px;
        background-color: #F6CECE;
        img{
            width: 100%;
            height: 280px;
            border: 1px solid $bgblue;
            border-radius: 15px;
            margin-top: 0px !important;
        }
        h5{
            font-size: 20px;
            font-weight: 600px;
            color: $bgblue;
        }
        .try-button{
            color: white;
            font-size: 15px;
            padding: 5px 10px;
        }
    }
}