@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$bgblue: #003399;
.home-title{
    color: $bgblue;
    text-align: center;
    font-size: 60px;
    font-weight: 900px;
    margin-top: 50px;
}