
<div class="row footer">
    <div class="col col-6">
        <p>Made by: Dung, Hiếu, Phương Anh</p>
    </div>

    <div class="col col-6">
        <p>Trường Đại học Bách Khoa Hà Nội</p>
        <p>Viện Công Nghệ Thông Tin Và Truyền Thông</p>
    </div>
</div>
